<div>
  <div class="row-fluid">
    <h5>Stacked Metrics</h5>
  </div> 
  <div class="row-fluid" ng-show="panel.stackCharts.length > 0">
    <div class="span2">
      <label class="small">Metric</label> 
    </div>
    <div class="span2">
      <label class="small">Field</label>
    </div>
    <div class="span2">
      <label class="small">Alias</label>
    </div>
    <div class="span2">
      <label class="small">Value Script</label>
    </div>
    <div class="span2">
      <label class="small">Querystring Filter</label>
    </div>
  </div>
  <div class="row-fluid" ng-repeat="item in panel.stackCharts">
    <div class="span2">
      <select ng-change="set_refresh(true)" class="input-small" ng-model="item.statistic" ng-options="f for f in ['count','mean','min','max','total','termscount','hits']"></select>
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" ng-disabled="item.statistic == 'hits'" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="item.field">
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.alias">
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.valueScript" ng-disabled="!(item.statistic == 'mean' || item.statistic == 'min' || item.statistic == 'max' || item.statistic == 'total')" >
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.queryString">
    </div>
    <div class="span2">
      <i ng-click="panel.stackCharts = _.without(panel.stackCharts,item); set_refresh(true);" class="pointer icon-remove" bs-tooltip="'Delete metric'"></i>
      <i ng-click="_.move(panel.stackCharts,$index,$index-1); set_refresh(true);" ng-hide="$first" class="pointer icon-arrow-up"></i>
      <i ng-click="_.move(panel.stackCharts,$index,$index+1); set_refresh(true);" ng-hide="$last" class="pointer icon-arrow-down"></i>
    </div>
    <div class="span6" ng-show="item.statistic == 'mean' || item.statistic == 'min' || item.statistic == 'max' || item.statistic == 'total'">
      <small>Note: In <strong>{{item.statistic}}</strong> mode, specified field <strong>must</strong> be a numeric type</small>
    </div>
  </div>
  <div class="row-fluid" style="margin-bottom:10px;">
    <button class="btn btn-success " ng-click="addStackChart()" style="">Add Metric</button>
  </div> 
  <div class="row-fluid">
    <div class="span2">
      <label class="small">Statistic Alias</label>
      <input type="text" class="input-small" ng-model="panel.alias" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Value Alias</label>
      <input type="text" class="input-small" ng-model="panel.valueAlias" ng-change="set_refresh(true)">
    </div>
    <div class="span2" ng-show="panel.chart == 'table' || panel.chart == 'ratio' || panel.chart == 'percent'">
      <label class="small">Font Size</label> 
      <select class="input-mini" ng-model="panel.style['font-size']" ng-options="f for f in ['7pt','8pt','9pt','10pt','12pt','14pt','16pt','18pt','20pt','24pt','28pt','32pt','36pt','42pt','48pt','52pt','60pt','72pt']"></select></span>
    </div>
    <div class="span2">
      <label class="small">Terms Count Max</label>
      <input class="input-small" type="number" ng-model="panel.termsCountMax" ng-change="set_refresh(true)">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2">
      <label class="small">Format String</label>
      <input type="text" class="input-small" ng-model="panel.formatString" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Decimals</label>
      <input class="input-small" type="number" ng-model="panel.decimals" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Decimal Separator</label>
      <input type="text" class="input-small" ng-model="panel.decimalSeparator" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Comma Separator</label>
      <input type="text" class="input-small" ng-model="panel.commaSeparator" ng-change="set_refresh(true)">
    </div>
  </div>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small">Style</label> 
      <select class="input-small" ng-model="panel.chart" ng-options="f for f in ['bar','pie','table','ratio','percent']" ng-change="set_refresh(true)"></select></span>
    </div>
    <div class="span8" ng-show="panel.chart == 'ratio' || panel.chart == 'percent'"> 
      <label class="small">&nbsp;</label> 
      <small>Note: In <strong>{{panel.chart}}</strong> style, the first 2 metrics will be used to compute the statistic</small>
    </div>
    <div class="span2" ng-show="panel.chart == 'bar' || panel.chart == 'pie'"> 
      <label class="small">Legend</label> 
      <select class="input-small" ng-model="panel.counter_pos" ng-options="f for f in ['above','below','none']"></select></span>
    </div>
    <div class="span3" ng-show="(panel.chart == 'bar' || panel.chart == 'pie') && panel.counter_pos != 'none'">
      <label class="small" >Legend Format</label> 
      <select class="input-small" ng-model="panel.arrangement" ng-options="f for f in ['horizontal','vertical']"></select></span>
    </div>
    <div class="span1" ng-show='panel.chart == "pie"'>
      <label class="small">Donut</label><input type="checkbox" ng-model="panel.donut" ng-checked="panel.donut">
    </div>
    <div class="span1" ng-show='panel.chart == "pie"'>
      <label class="small">Tilt</label><input type="checkbox" ng-model="panel.tilt" ng-checked="panel.tilt">
    </div>
    <div class="span1" ng-show='panel.chart == "pie"'>
      <label class="small">Labels</label><input type="checkbox" ng-model="panel.labels" ng-checked="panel.labels">
    </div>
  </div>
</div>