<kibana-panel ng-controller='stackedstats' ng-init="init()">
  <span ng-show="panel.spyable" class='spy panelextra pointer'>
    <i bs-modal="'partials/inspector.html'" class="icon-eye-open"></i>
  </span>

  <!-- START Pie or bar chart -->
  <div ng-show="panel.counter_pos == 'above' && (panel.chart == 'bar' || panel.chart == 'pie')" id='{{$id}}-legend'>
    <!-- vertical legend above -->
    <table class="small" ng-show="panel.arrangement == 'vertical'">  
      <tr ng-repeat="term in legend">
        <td><i class="icon-circle" ng-style="{color:term.color}"></i></td> <td style="padding-right:10px;padding-left:10px;">{{term.label}}</td><td>{{formatMetricValue(term.data[0][1])}}</td>
      </tr>
    </table>

    <!-- horizontal legend above -->
    <div class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="term in legend" style="float:left;padding-left: 10px;">
     <span><i class="icon-circle" ng-style="{color:term.color}"></i> {{term.label}} ({{formatMetricValue(term.data[0][1])}}) </span>
    </div><br>

  </div>

  <!-- keep legend from over lapping -->
  <div style="clear:both"></div>

  <div ng-show="panel.chart == 'pie' || panel.chart == 'bar'" stacked-stats-chart params="{{panel}}" style="position:relative"></div>

  <div ng-show="panel.counter_pos == 'below' && (panel.chart == 'bar' || panel.chart == 'pie')" id='{{$id}}-legend'>
    <!-- vertical legend below -->
    <table class="small" ng-show="panel.arrangement == 'vertical'">  
      <tr ng-repeat="term in legend">
        <td><i class="icon-circle" ng-style="{color:term.color}"></i></i></td> <td style="padding-right:10px;padding-left:10px;">{{term.label}}</td><td>{{formatMetricValue(term.data[0][1])}}</td>
      </tr>
    </table>

    <!-- horizontal legend below -->
    <div class="small" ng-show="panel.arrangement == 'horizontal'" ng-repeat="term in legend" style="float:left;padding-left: 10px;">
     <span><i class="icon-circle" ng-style="{color:term.color}"></i></span> {{term.label}} ({{formatMetricValue(term.data[0][1])}}) </span>
    </div><br>

  </div>
  <!-- END Pie or Bar chart -->

  <!-- table style -->
  <table ng-style="panel.style" class="table table-striped table-condensed" ng-show="panel.chart == 'table'">  
    <thead>
      <th>{{getStatisticAlias()}}</th><th style="text-align:right">{{getValueAlias()}}</th>
    </thead>
    <tr ng-repeat="term in data">
      <th nowrap="nowrap">{{term.label}}</th>
      <td style="text-align:right">{{formatMetricValue(term.data[0][1])}}</td>
    </tr>
  </table>

  <!-- ratio/percent style -->
  <p ng-show="panel.chart == 'ratio' || panel.chart == 'percent'" ng-style='panel.style' ng-bind-html="statistic"></p>
</kibana-panel>