<kibana-panel ng-controller='tablestats' ng-init="init()">
  <span ng-show="panel.spyable" class='spy panelextra pointer'>
    <i bs-modal="'partials/inspector.html'" class="icon-eye-open"></i>
  </span>

  <table ng-style="panel.style" class="table table-striped table-condensed">  
    <thead>
      <th>{{getTermAlias()}}</th>
      <th></th>
      <th ng-repeat="chart in panel.stackCharts" style="text-align:right" ng-click="setSort($index)">
        <span class="pointer">
          {{getStatisticAlias($index)}}
          <i ng-show='getSortParams().chartIndex == $index' class="pointer link" ng-class="{'icon-chevron-up': getSortParamsOrder() == 'asc','icon-chevron-down': getSortParamsOrder() == 'desc'}"></i>
        </span> 
      </th>
    </thead>
    <tr ng-repeat="term in data">
      <th nowrap="nowrap"><span ng-click="buildSearch(term[0])" class="pointer" bs-tooltip="'Filter by \'' + term[0] + '\''">{{term[0]}}</span></th>
      <td nowrap="nowrap">
        <i class='icon-search pointer' ng-click="buildSearch(term[0])" bs-tooltip="'Filter by \'' + term[0] + '\''"></i> 
        <i class='icon-ban-circle pointer' ng-click="buildSearch(term[0],'mustNot')" bs-tooltip="'Filter except \'' + term[0] + '\''"></i>
      </td>
      <td ng-repeat="stat in term.slice(1)" style="text-align:right">{{stat}}</td>
    </tr>
  </table>
</kibana-panel>