<div>
  <div class="row-fluid">
    <div class="span2">
      <label class="small">Metric</label> 
      <select ng-change="set_refresh(true)" class="input-small" ng-model="panel.mode" ng-options="f for f in ['count','min','mean','max','total']"></select>
    </div>
    <div class="span2">
      <label class="small">Time Field</label>
      <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.time_field">
    </div>
    <div class="span2" ng-show="panel.mode != 'count'">
      <label class="small">Value Field</label>
      <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="panel.value_field">
    </div>
    <div class="span2">
      <label class="small">Alias</label>
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="panel.alias">
    </div>
    <div class="span4" ng-show="panel.mode != 'count'">
      <small>Note: In <strong>{{panel.mode}}</strong> mode, the value field <strong>must</strong> be a numeric type</small>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span4" ng-disabled="panel.mode == 'count'">
      <label class="small" ng-disabled="panel.mode == 'count'">Value Script</label>
      <input ng-disabled="panel.mode == 'count'" ng-change="set_refresh(true)" type="text" class="input-large" ng-model="panel.valueScript">
    </div>
    <div class="span4">
      <label class="small">Querystring Filter</label>
      <input ng-change="set_refresh(true)" type="text" class="input-large" ng-model="panel.queryString">
    </div>
  </div>
  <div class="row-fluid">
      <div class="span2">
        <label class="small">Format String</label>
        <input type="text" class="input-small" ng-model="panel.formatString" ng-change="set_refresh(true)">
      </div>
      <div class="span2">
        <label class="small">Decimals</label>
        <input class="input-small" type="number" ng-model="panel.decimals" ng-change="set_refresh(true)">
      </div>
      <div class="span2">
        <label class="small">Decimal Separator</label>
        <input type="text" class="input-small" ng-model="panel.decimalSeparator" ng-change="set_refresh(true)">
      </div>
      <div class="span2">
        <label class="small">Comma Separator</label>
        <input type="text" class="input-small" ng-model="panel.commaSeparator" ng-change="set_refresh(true)">
      </div>
  </div>
  <div class="row-fluid" style="margin-bottom:10px;">
    <h5>Chart Settings</h5>
    <div class="span1"> <label class="small">Bars</label><input type="checkbox" ng-model="panel.bars" ng-checked="panel.bars"></div>
    <div class="span1"> <label class="small">Lines</label><input type="checkbox" ng-model="panel.lines" ng-checked="panel.lines"></div>
    <div class="span1"> <label class="small">Points</label><input type="checkbox" ng-model="panel.points" ng-checked="panel.points"></div>
    <div class="span1"> <label class="small">Stack</label><input type="checkbox" ng-model="panel.stack" ng-checked="panel.stack"></div>
    <div class="span1" ng-show="panel.stack"> <label class="small" bs-tooltip="'Stack as a percentage of total'">Percent</label><input type="checkbox"  ng-model="panel.percentage" ng-checked="panel.percentage"></div>
    <div class="span1"> <label class="small">Legend</label><input type="checkbox" ng-model="panel.legend" ng-checked="panel.legend"></div>
    <div class="span1"> <label class="small" bs-tooltip="'Show document hits'">Hits</label><input type="checkbox" ng-model="panel.hits" ng-checked="panel.hits"></div>
    <div class="span1"> <label class="small">xAxis</label><input type="checkbox" ng-model="panel['x-axis']" ng-checked="panel['x-axis']"></div>
    <div class="span1"> <label class="small">yAxis</label><input type="checkbox" ng-model="panel['y-axis']" ng-checked="panel['y-axis']"></div>
  </div> 
  <div class="row-fluid" style="margin-bottom:10px;">
    <div class="span2" ng-show="panel.lines">
      <label class="small">Line Fill</label> 
      <select class="input-small" ng-model="panel.fill" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
    <div class="span2" ng-show="panel.lines">
      <label class="small">Line Width</label> 
      <select class="input-small" ng-model="panel.linewidth" ng-options="f for f in [0,1,2,3,4,5,6,7,8,9,10]"></select>
    </div>
  </div> 
  <div class="row-fluid">  
    <div class="span2">
      <label class="small">Time correction</label> 
      <select ng-model="panel.timezone" class='input-small' ng-options="f for f in ['browser','utc']"></select>
    </div>
    <div class="span1"> <label class="small">Selectable</label><input type="checkbox" ng-model="panel.interactive" ng-checked="panel.interactive"></div>
    <div class="span2"> 
      <label class="small">Zoom Links</label><input type="checkbox" ng-model="panel.zoomlinks" ng-checked="panel.zoomlinks" />
    </div>
    <div class="span2"> 
      <label class="small">Auto-interval</label><input type="checkbox" ng-model="panel.auto_int" ng-checked="panel.auto_int" />
    </div>
    <div class="span2" ng-show='panel.auto_int'> 
      <label class="small">Resolution</label><input type="number" class='input-mini' ng-model="panel.resolution" ng-change='set_refresh(true)'/>
    </div>
    <div class="span3" ng-show='panel.auto_int'> 
      <label class="small">Shoot for this many data points, rounding to sane intervals</label>
    </div>
    <div class="span2" ng-hide='panel.auto_int'> 
      <label class="small">Interval</label><input type="text" class='input-mini' ng-model="panel.interval" ng-change='set_refresh(true)'/>
    </div>
    <div class="span3" ng-hide='panel.auto_int'> 
      <label class="small">Use Elasticsearch date math format (eg 1m, 5m, 1d, 2w, 1y)</label>
    </div>
  </div>
  <div class="row-fluid" style="margin-bottom:10px;">
    <div class="span3">
      <h5>Stacked Metrics</h5>
    </div>
  </div> 
  <div class="row-fluid" ng-show="panel.stackCharts.length > 0">
    <div class="span2">
      <label class="small">Metric</label> 
    </div>
    <div class="span2">
      <label class="small">Value Field</label>
    </div>
    <div class="span2">
      <label class="small">Alias</label>
    </div>
    <div class="span2">
      <label class="small">Value Script</label>
    </div>
    <div class="span2">
      <label class="small">Querystring Filter</label>
    </div>
  </div>
  <div class="row-fluid" ng-repeat="item in panel.stackCharts">
    <div class="span2">
      <select ng-change="set_refresh(true)" class="input-small" ng-model="item.mode" ng-options="f for f in ['count','min','mean','max','total']"></select>
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" placeholder="Start typing" bs-typeahead="fields.list" type="text" class="input-small" ng-model="item.value_field">
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.alias">
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.valueScript" ng-disabled="item.mode == 'count'">
    </div>
    <div class="span2">
      <input ng-change="set_refresh(true)" type="text" class="input-small" ng-model="item.queryString">
    </div>
    <div class="span2">
      <i ng-click="panel.stackCharts = _.without(panel.stackCharts,item); set_refresh(true);" class="pointer icon-remove" bs-tooltip="'Delete metric'"></i>
      <i ng-click="_.move(panel.stackCharts,$index,$index-1); set_refresh(true);" ng-hide="$first" class="pointer icon-arrow-up"></i>
      <i ng-click="_.move(panel.stackCharts,$index,$index+1); set_refresh(true);" ng-hide="$last" class="pointer icon-arrow-down"></i>
    </div>
    <div class="span6" ng-show="item.mode != 'count'">
      <small>Note: In <strong>{{item.mode}}</strong> mode, the value field <strong>must</strong> be a numeric type</small>
    </div>
  </div>
  <div class="row-fluid" style="margin-bottom:10px;">
    <button class="btn btn-success " ng-click="addStackChart()" style="">Add Metric</button>
  </div> 
  <div class="row-fluid" ng-include="'partials/querySelect.html'"></div>
  <h5>Panel Spy</h5>
  <div class="row-fluid">
    <div class="span2"> 
      <label class="small">Spyable</label><input type="checkbox" ng-model="panel.spyable" ng-checked="panel.spyable">
    </div>
    <div class="span9 small">
      The panel spy shows 'behind the scenes' information about a panel. It can
      be accessed by clicking the <i class='icon-eye-open'></i> in the top right
      of the panel.
    </div>
  </div>
</div>
