  <div class="row-fluid">
    <div class="span3"> 
      <label class="small">Metric</label> 
      <select class="input-medium" ng-model="panel.mode" ng-options="f for f in ['count','total','min','max','mean']" ng-change="set_refresh(true)"></select></span>
    </div>
    <div class="span2">
      <label class="small">Terms Field</label>
      <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.field" ng-change="set_refresh(true)">
    </div>
    <div class="span2" ng-show="panel.mode!='count'">
      <label class="small">Value Field</label>
      <input type="text" class="input-small" bs-typeahead="fields.list" ng-model="panel.valueField" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Length</label>
      <input class="input-small" type="number" ng-model="panel.size" ng-change="set_refresh(true)">
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span3"> 
      <label class="small">Sort</label> 
      <select class="input-medium" ng-model="panel.order" ng-show="panel.mode=='count'" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"></select></span>
      <select class="input-medium" ng-model="panel.order" ng-show="panel.mode!='count'" ng-options="f for f in ['count','term','reverse_count','reverse_term','total','reverse_total','min','reverse_min','max','reverse_max','mean','reverse_mean']" ng-change="set_refresh(true)"></select></span>
    </div>
    <div class="span2">
      <label class="small">Alias</label>
      <input type="text" class="input-small" ng-model="panel.alias" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Value Alias</label>
      <input type="text" class="input-small" ng-model="panel.valueAlias" ng-change="set_refresh(true)">
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span3">
      <label class="small">Group Field</label>
      <input type="text" class="input-medium" bs-typeahead="fields.list" ng-model="panel.groupField" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Group Alias</label>
      <input type="text" class="input-small" ng-model="panel.groupAlias" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Group Length</label>
      <input class="input-small" type="number" ng-model="panel.groupSize" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Group Sort</label>
      <select class="input-medium" ng-model="panel.groupOrder" ng-show="panel.mode=='count'" ng-options="f for f in ['count','term','reverse_count','reverse_term']" ng-change="set_refresh(true)"></select></span>
      <select class="input-medium" ng-model="panel.groupOrder" ng-show="panel.mode!='count'" ng-options="f for f in ['count','term','reverse_count','reverse_term','total','reverse_total','min','reverse_min','max','reverse_max','mean','reverse_mean']" ng-change="set_refresh(true)"></select></span>
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span4" ng-show="panel.mode=='count'">
      <label class="small">Exclude Terms (comma seperated)</label>
      <input array-join type="text" ng-model='panel.exclude' ng-change="set_refresh(true)"></input>
    </div>
    <div class="span4" ng-show="panel.mode=='count'">
      <label class="small">Include Terms (regex)</label>
      <input type="text" ng-model='panel.include' ng-change="set_refresh(true)"></input>
    </div>
  </div>
  <div class="row-fluid">
    <div class="span10">
      <span ng-show="panel.mode == 'count'">
        <label class="small">Term Script</label>
        <textarea placeholder="Example: term + ' AAA'" ng-model="panel.termScript" rows="2" style="width:100%" ng-change="set_refresh(true)"></textarea>
      </span>
      <span ng-show="panel.mode != 'count'">
        <label class="small">Value Script</label>
        <textarea placeholder="Example: doc['field'].value * 100" ng-model="panel.valueScript" rows="2" style="width:100%" ng-change="set_refresh(true)"></textarea>
      </span>
    </div>
  </div>  
  <div class="row-fluid">
    <div class="span2">
      <label class="small">Format String</label>
      <input type="text" class="input-small" ng-model="panel.formatString" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Decimals</label>
      <input class="input-small" type="number" ng-model="panel.decimals" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Decimal Separator</label>
      <input type="text" class="input-small" ng-model="panel.decimalSeparator" ng-change="set_refresh(true)">
    </div>
    <div class="span2">
      <label class="small">Comma Separator</label>
      <input type="text" class="input-small" ng-model="panel.commaSeparator" ng-change="set_refresh(true)">
    </div>
  </div>
