  <div class="row-fluid">
    <div class="span4">
      <form>
        <h6>Coordinate Field <i class="icon-question-sign" bs-tooltip="'Single field containing geoJSON array [lat,lon], or 2 comma separated numeric fields: latfield,lonfield'"></i></h6>
        <input ng-change="set_refresh(true)" bs-typeahead="fields.list" type="text" class="input-large" ng-model="panel.field">
      </form>
    </div>
    <div class="span4">
      <form>
        <h6>Tooltip Field</h6>
        <input ng-change="set_refresh(true)" bs-typeahead="fields.list" type="text" class="input-large" ng-model="panel.tooltip">
      </form>
    </div>
    <div class="span2"><h6>Max Points</h6> 
      <input ng-change="set_refresh(true)" type="number" class="input-small" ng-model="panel.size">
    </div>
  </div>
