<div ng-controller='tablestats' ng-init="init()">
  <table ng-style="panel.style" class="table table-striped table-condensed">  
    <thead>
      <th>{{getTermAlias()}}</th>
      <th></th>
      <th ng-repeat="chart in panel.stackCharts" style="text-align:right" ng-click="setSort($index)">
        <span class="pointer">
          {{getStatisticAlias($index)}}
          <i ng-show='getSortParams().chartIndex == $index' class="pointer link" ng-class="{'icon-chevron-up': getSortParamsOrder() == 'asc','icon-chevron-down': getSortParamsOrder() == 'desc'}"></i>
        </span> 
      </th>
    </thead>
    <tr ng-repeat="tableTerm in data">
      <th><span ng-click="buildSearch(tableTerm[0])" class="pointer" bs-tooltip="'Filter by \'' + term[0] + '\''">{{tableTerm[0]}}</span></th>
      <td nowrap="nowrap">
        <i class='icon-search pointer' ng-click="buildSearch(tableTerm[0])" bs-tooltip="'Filter by \'' + tableTerm[0] + '\''"></i> 
        <i class='icon-ban-circle pointer' ng-click="buildSearch(tableTerm[0],'mustNot')" bs-tooltip="'Filter except \'' + tableTerm[0] + '\''"></i>
      </td>
      <td ng-repeat="chart in panel.stackCharts" style="text-align:right">{{tableTerm[$index + 1]}}</td>
    </tr>
  </table>
</div